<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:ctx="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="xmlBean" class="com.example.springtoolwindowdiffbeantypes.configs.beans.Bean2">

        <constructor-arg value="bean2"/>
    </bean>
    <bean abstract="true" id="abstractXmlBean" class="com.example.springtoolwindowdiffbeantypes.configs.beans.Bean3">

    </bean>

    <bean scope="prototype" id="prototypeXmlBean" class="com.example.springtoolwindowdiffbeantypes.configs.beans.Bean4">

        <constructor-arg value="bean4"/>
    </bean>
    <ctx:property-placeholder  location="application.properties"/>
    <ctx:component-scan base-package="com.example.springtoolwindowdiffbeantypes.services"/>
    <mvc:view-resolvers order="0">
        <mvc:jsp/>
    </mvc:view-resolvers>
</beans>